@charset "utf-8";
/* CSS Document */

p{
		font-size: 30pt;
		color: #16D5C6;
	}
	.font_color{
		color:#F27476;
	}
	.font_size{
		font-size:50pt;
	}
	#font_size_color{
		color: deeppink;
	}
	h2,h4,h6{
		color:#00FF00;
	}